<div class="premium-modal-header">
    <div class="modal-icon-container">
        <mat-icon>event_note</mat-icon>
    </div>
    <div>
        <h2 class="modal-title">Resumen de Reserva</h2>
        <p class="modal-subtitle">Información del ticket de atención médica.</p>
    </div>
</div>

<div mat-dialog-content class="premium-modal-content custom-scrollbar" *ngIf="reporte">
    <div class="details-grid grid-two-columns">
        <div class="detail-card full-width-card">
            <mat-icon>qr_code</mat-icon>
            <div class="detail-info">
                <span class="detail-label">Código Único de Registro</span>
                <span class="detail-value monospace-text">#{{ reporte.id }}</span>
            </div>
        </div>

    </div>
</div>

<div mat-dialog-actions align="end" class="premium-dialog-actions">
    <button mat-raised-button mat-dialog-close color="warn" class="btn-submit">Volver</button>
</div>