table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.page-title {
  margin: 20px 0px 0px 40px;
  color: white;
}

.card {
  margin: 20px 40px 40px 40px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-info {
  background-color: #007bff;
  color: #ffffff;
}

.mat-raised-button.btn-info {
  background-color: #00BCD4;
  /* Blue */
  color: white;
  border-color: #00BCD4;
}

.mat-raised-button.btn-info:hover {
  background-color: #00A0CE;
  /* Light blue */
}

.mat-raised-button.btn-info:active {
  background-color: #00838F;
  /* Dark blue */
}

th {
  color: white;
  background-color: #17789e;
}