
<div class="larger-modal-container">
    <div class="title-container">
        <h1>Ver Paciente</h1>
    </div>
    <div *ngIf="paciente != null" class="container-wide">
        <mat-grid-list cols="1" rowHeight="auto">
            <mat-card class="card custom-card-wide  larger-card">
                <mat-card-title class="title-container">{{ paciente.nombre }}</mat-card-title>
                <mat-card-content>
                    <div class="grid-container">
                        <div class="grid-item">
                            <p class="large-font"><strong>nombre:</strong> {{ paciente.nombre }}</p>
                        </div>
                        <div class="grid-item">
                            <p class="large-font"><strong>apellido:</strong> {{ paciente.apellido }}</p>
                        </div>
                        <div class="grid-item">
                            <p class="large-font"><strong>edad:</strong> {{ paciente.edad }}</p>
                        </div>
                        <div class="grid-item">
                            <p class="large-font"><strong>genero:</strong> {{ paciente.genero }}</p>
                        </div>
                        <div class="grid-item">
                            <p class="large-font"><strong>direccion:</strong> {{ paciente.direccion }}</p>
                        </div>
                        <div class="grid-item">
                            <p class="large-font"><strong>telefono:</strong> {{ paciente.telefono }}</p>
                        </div>
                        <div class="grid-item">
                            <p class="large-font"><strong>email:</strong> {{ paciente.email }}</p>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <!-- Agrega acciones aquí si es necesario -->
                </mat-card-actions>
                <mat-card-actions class="button-container">
                    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-list>
    </div>
</div>
