<div class="premium-modal-header">
    <div class="modal-icon-container">
        <mat-icon>medical_services</mat-icon>
    </div>
    <div>
        <h2 class="modal-title">Ficha del Servicio</h2>
        <p class="modal-subtitle">Especificaciones clínicas y costo asignado.</p>
    </div>
</div>

<div mat-dialog-content class="premium-modal-content custom-scrollbar" *ngIf="servicio">
    <div class="details-grid grid-two-columns">
        <div class="detail-card">
            <mat-icon>star_outline</mat-icon>
            <div class="detail-info">
                <span class="detail-label">Nombre del Tratamiento</span>
                <span class="detail-value text-bold-highlight">{{ servicio.nombreServicio }}</span>
            </div>
        </div>

        <div class="detail-card">
            <mat-icon>payments</mat-icon>
            <div class="detail-info">
                <span class="detail-label">Precio Cobrado Base</span>
                <span class="detail-value text-success-highlight">S/ {{ servicio.precio }}</span>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions align="end" class="premium-dialog-actions">
    <button mat-raised-button mat-dialog-close color="primary" class="btn-submit">Entendido</button>
</div>