<div class="body">
  <div class="background-container">
    <img src="./assets/hero-login.png" alt="OdontoSys Pro - Fondo Médico" width="1920" height="1080">
  </div>
  <div class="glass-overlay">
    <mat-card class="loginCard">
      <div class="header">
        <mat-icon class="header-icon">health_and_safety</mat-icon>
        <h2>OdontoSys Pro</h2>
        <p class="subtitle">Acceso Seguro</p>
      </div>
      <mat-card-content style="padding-bottom: 15px;">
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="formLogin">
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Correo electrónico</mat-label>
              <input formControlName="email" matInput autocomplete="off" placeholder="ejemplo@correo.com" />
              <mat-icon matSuffix style="color: #7c7577;">mail</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" autocomplete="off"
                placeholder="Ingrese su contraseña">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hidePassword" type="button"
                style="color: #7c7577;">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <button style="margin-bottom: 10px;" class="full-width btn-info" mat-raised-button type="submit">
            Ingresar
            <mat-icon matSuffix>login</mat-icon>
          </button>
        </form>
        <div class="mt-4">
          <button style="margin-top: -25px;" class="btn-register" mat-button (click)="agregarUsuario()">
            Registrarse
            <mat-icon matSuffix>person_add</mat-icon>
          </button>
        </div>
      </mat-card-content>

      <div class="spinner-border" mode="indeterminate" *ngIf="loading">
        <span class="sr-only">Cargando…</span>
      </div>
    </mat-card>
  </div>
</div>